@use "../config/variables" as vari;
@use "../mixin/index.scss" as mixin;

/*
    common
*/
html,
body {
    width: 100%;
    height: 100%;
    color: vari.$cl-text;
    font-size: 100%;
    font-family: vari.$font-noto-sans;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    word-wrap: break-word;
    background-color: vari.$cl-white;
    @include mixin.sp {
        background-size: auto;
    }
    &.hidden {
        height: 100%;
        overflow: hidden;
    }
}
* {
    box-sizing: border-box;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
    -webkit-touch-callout: none;
    vertical-align: middle;
}
ul,
ol {
    list-style: none;
}
p:empty {
    display: none;
}
a {
    color: vari.$cl-text;
    outline: none;
    text-decoration: none;
    transition: all 0.3s;
    &:focus {
        outline: none;
    }
    &:hover {
        color: vari.$clr-heading;
        opacity: 0.9;
    }
}

a[href="tel"] {
    color: vari.$clr-tel;
}
::-moz-selection {
    background: vari.$clr-selection;
    text-shadow: none;
}
::selection {
    background: vari.$clr-selection;
    text-shadow: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button:focus {
    outline: 0;
}

input[type="text"],
input[type="password"],
input[type="image"],
input[type="search"],
textarea {
    color: vari.$cl-text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    outline: 0 none transparent;
}

select {
    -webkit-border-radius: 0;
    border-radius: 0;
}

button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.no-display {
    display: none;
}
.no-br {
    white-space: nowrap;
}
.no-line-height {
    line-height: 1 !important;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.right {
    text-align: right !important;
}
.center {
    text-align: center !important;
}
.left {
    text-align: left !important;
}
.top {
    vertical-align: top !important;
}
.middle {
    vertical-align: middle !important;
}
.bottom {
    vertical-align: bottom !important;
}
.block {
    display: inline-block;
}
/* for RWD */
.fluid-image {
    max-width: 100%;
    height: auto;
}
.full-image {
    width: 100%;
    height: auto;
}
.wrp-heading {
    text-align: center;
}
.is-error {
    background-color: vari.$cl-dark-white;
}
.is-disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}
.is-inline-block span {
    margin-bottom: 16px;
    display: inline-block;
}
.wrp-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;

    &.-xxl {
        max-width: none;
    }
    @include mixin.pc {
        padding: 0 mixin.get_pc(60);
    }
    @include mixin.sp {
        padding: 0 mixin.get_sp(15);
    }
}
.wrp-container:after {
    content: "";
    display: block;
    clear: both;
}
#l-document {
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
}
.util_sp {
    display: none !important;
    @include mixin.sp {
        display: block !important;
    }
}
.util_pc {
    display: block !important;
    @include mixin.sp {
        display: none !important;
    }
}
/* Responsive break for mobile */
.is-visibleSp {
    display: none;

    @include mixin.sp {
        display: inline;
    }
}

/* Hide on mobile for desktop break */
.is-visiblePc {
    display: inline;

    @include mixin.sp {
        display: none;
    }
}
